<!-- <p style="color: green"><%= notice %></p> -->

<div id="publications">
  <% @publications.each do |publication| %>
    <div class="border my-5 px-5 py-4">
      <%= render publication %>
      <p>
        <%= link_to "Ver publicación", publication %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "Nueva publicación", new_publication_path %>
